{% extends 'base.html' %} {% block title %}Chat{% endblock %} {% block content %}
<div id="chat" class="columns">
    <div id="menu" class="column is-1">
        <aside class="menu has-text-centered">
            <h1 class="title has-text-link">Che
                <br>Chat</h1>

            <div class="menu-label">
                <a href="" title="Chats" class="has-text-grey" id="chatA">
                    <span class="icon is-large">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-comment-dots fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                    Chats
                </a>
            </div>

            <div class="menu-label">
                <a href="" title="New chat" class="has-text-grey" id="newChatA">
                    <span class="icon is-large">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                    New chat
                </a>
            </div>

            <div class="menu-label">
                <a href="" title="New group " class="has-text-grey" id="newChatGroupA">
                    <span class="icon is-large">
                        <span class="fa-stack fa-2x fa-multiple">

                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
                            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>

                        </span>
                    </span>
                    New group
                </a>
            </div>

            <div class="menu-label">
                <a href="account/phonebook" title="Address book" class="has-text-grey" id="addressBookA">
                    <span class="icon is-large">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-address-book fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                    Address book
                </a>
            </div>

            <div class="menu-label">
                <a href="account/logout/" title="Settings" class="has-text-grey">
                    <span class="icon is-large">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-users-cog fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                    Settings
                </a>
            </div>

            <div class="menu-label">
                <a href="account/logout/" title="Logout" class="has-text-grey">
                    <span class="icon is-large">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-sign-out-alt fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                    Logout
                </a>
            </div>
        </aside>
    </div>
    <div id="chatListColumn" class="column is-3 has-background-light">
        <h2 id="chatListColumnTitle" class="title has-text-centered is-size-4">
            Your chats
        </h2>

        <div id="addFriendA" class="has-text-centered is-hidden">
            <a href="" title="Add friend">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-user-plus fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>

        <div id="somethingBad" class="notification is-danger is-hidden">
            Something went bad!
        </div>

        <div id="done" class="notification is-success is-hidden">
            Done!
        </div>

        <div id="realChatList">
            <ul id="chatList">
            </ul>
        </div>

        <div id="newChat" class="has-text-centered is-hidden">
            <div class="field">
                <label class="label">With who you wanna chat?</label>
                <div class="control has-text-centered">
                    <div class="select">
                        <select id="selectUserToChat">
                        </select>
                    </div>
                </div>
            </div>


            <div class="field">
                <div class="control has-text-centered">
                    <button id="startChat" class="button is-link">Submit</button>
                </div>
            </div>
        </div>

        <div id="addressBook" class="is-hidden">
            <ul id="addressList">
            </ul>
        </div>

        <div id="newChatGroup" class="has-text-centered is-hidden">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input id="groupChatTitle" class="input" type="text" placeholder="Text input">
                </div>
            </div>

            <div class="field">
                <label class="label">With who you wanna chat?</label>
                <div id="checkAddFriends" class="control has-text-centered">
                </div>
            </div>

            <div class="field">
                <div class="control has-text-centered">
                    <button id="startGroupChat" class="button is-link">Submit</button>
                </div>
            </div>
        </div>

        <div id="addFriend" class="has-text-centered is-hidden">
            <div class="field">
                <label class="label">Friend name</label>
                <div class="control">
                    <input id="friendName" class="input" type="text" placeholder="Friend name...">
                </div>
            </div>


            <div class="field">
                <div class="control has-text-centered">
                    <button id="addFriendButton" class="button is-link">Add</button>
                </div>
            </div>
        </div>

    </div>
    <div id="chatSingle" class="column is-9 has-background-white">
        <nav class="level is-hidden">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <div class="columns">
                        <div class="column is-3">
                            <figure class="image is-48x48">
                                <img id="thumbnailChat" src="https://bulma.io/images/placeholders/128x128.png" alt="avatar" class="is-rounded">
                            </figure>
                        </div>
                        <div class="column">
                            <span id="chatTitle" class="title is-size-5">
                                <span>John Wayne</span>
                                <div class="is-hidden">
                                    <input class="input" type="text">
                                    <a id="changeTitle" class="button">
                                        <span class="icon is-small">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </a>
                                </div>
                            </span>
                            <br>
                            <span id="lastOnline" class="subtitle is-size-7"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <div class="menu-label">
                    <a href="" title="Start group chat" class="has-text-grey">
                        <span class="icon is-large">
                            <span class="fa-stack fa-2x fa-multiple">
                                <i class="fas fa-circle fa-stack-2x has-text-light"></i>
                                <i class="fas fa-user-friends fa-stack-1x"></i>
                                <i class="fas fa-plus fa-stack-1x"></i>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="menu-label delete-chat">
                    <a id="deleteChatA" href="" title="Delete chat" class="has-text-grey">
                        <span class="icon is-large">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x has-text-light"></i>
                                <i class="fas fa-trash-alt fa-stack-1x"></i>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </nav>

        <div id="noChats" class="has-text-centered">
            <span class="title">Open a chat!</span>
        </div>
        <div class="messages is-hidden">
            <div class="container">
                <ul id="chatMessages">
                </ul>
            </div>
        </div>

        <div class="send is-hidden">
            <div class="field">
                <p class="control has-icons-right">
                    <input id="newMessageInput" class="input" type="text" placeholder="Type a message..." class="has-text-grey-light">
                    <span id="newMessageSend" class="icon is-small is-right">
                        <i class="far fa-paper-plane"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}